*{
    margin: 0;
    box-sizing: border-box;
}
body{
     background-color: rgb(233, 247, 237); /* Màu xanh pastel nhạt */
    height: 100vh;
}
}
.base .base-content{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50% ,-50%);
    color:#fff;
}
/* nền của form đăng nhập */
.base .base-content .form{
    height: 500px;
    width: 400px;
    background: rgba(188, 212, 195, 0.521);
    border: 1px solid rgb(21, 171, 91);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
/* Màu chữ của login */
.base .base-content .form h3{
    color: rgb(12, 69, 29);
    font-family: Arial Black;
    font-size: 30px;
}
.base .base-content .form hr{
    width: 88%;
    margin-top: 30px;
    margin-left: 20px;
    background-color: black;
}
#base-signup .base-content .form hr{
    margin-top: 2px;
}
#base-signup .base-content .form input{
    margin-top: 5px;
}
.base .base-content .email, .base .base-content .password, .base .base-content .name{
    margin-top: 3px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;

}
.base .base-content .form input{
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 17px;
}
.base .base-content .form .buttons input, .base .base-content .form .buttons a{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-family: cursive;
    padding: 5 20px;
    text-decoration: none;
    color: #fff;
    background: rgb(109, 143, 129);
    border: 10px solid rgb(109, 143, 129);
    border-radius: 25px;
    transition: all 0.3s ease;
}
.base .base-content .form .buttons input:hover, .base .base-content .form .buttons a:hover{
    background: rgb(141, 186, 156);
    border: 7px solid rgb(141, 186, 156);
}