{% extends 'base.html' %}

{% block title %} Update Order {% endblock %}


{% block body %}
<style>
    .shop-table {
    color: #000000;
}

.shop-table th, .shop-table td {
    border: 1px solid #000000;
}

.shop-table {
    background-color: #ffffff;
}
</style>
<table class="table shop-table table-hover">
    <thead>
        <tr>
            <th scope="col">Order Status</th>
            <th scope="col">Order Status</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <td>{{ form.order_status }}</td>
                <td>{{ form.update() }}</td>
            </form>
        </tr>
    </tbody>
</table>

{% endblock %}