{% extends 'base.html' %}

{% block title %} Product Details {% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="img-container rounded shadow">
                <img src="{{ product.product_picture }}" alt="{{ product.product_name }}" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6">
            <div class="content-container">
                <h2 class="product-name">{{ product.product_name }}</h2>
                <p class="product-info">Giá: {{ product.current_price }} VND</p>
                <p class="product-info">Còn: {{ product.in_stock }}</p>
                <p class="product-info">Mô tả: {{ product.description }}</p>
                <p class="product-info">Tag: {{ product.tag }}</p>
               <a href="/add-to-cart/{{ product.id }}" class="btn btn-lg btn-block" style="background-color: rgb(148, 176, 121); color: #fff;">Thêm</a>


            </div>
        </div>
    </div>
</div>

{% endblock %}