{% extends 'base.html' %}

{% block title %} Add Shop Items {% endblock %}


{% block body %}
<style>
    .shop-table {
    color: #000000;
}

.shop-table th, .shop-table td {
    border: 1px solid #000000;
}

.shop-table {
    background-color: #ffffff;
}
</style>
<table class="table shop-table table-hover">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Previous Price</th>
            <th scope="col">Current Price</th>
            <th scope="col">In Stock</th>
            <th scope="col">Description</th>
            <th scope="col">Tag</th>
            <th scope="col">Picture</th>
            <th scope="col">Flash Sale</th>
            <th scope="col">Add</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <form action="" method="POST", enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <td>{{ form.product_name }}</td>
                <td>{{ form.previous_price }}</td>
                <td>{{ form.current_price }}</td>
                <td>{{ form.in_stock }}</td>
                <td>{{ form.description }}</td>
                <td>{{ form.tag }}</td>
                <td>{{ form.product_picture() }}</td>
                <td>{{ form.flash_sale }}</td>
                <td>{{ form.update_product() }}</td>
            </form>
        </tr>
    </tbody>
</table>


{% endblock %}